.icon-home,.icon-image,.icon-address-book,.icon-file-text{
    color: #6b5481;
}

.icon-twitter{
    color: cornflowerblue;
}
.icon-facebook{
    color: rgb(52, 52, 179);
}
.icon-instagram{
    color:rgb(197, 62, 29)
}
.icon-home2,.icon-phone,.icon-mail{
    color: #6b5481;
}